<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="htof.dao.CustomerDao" >
    <resultMap id="customer" type="htof.pojo.Customer">
        <id property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="lasttime" column="lasttime" jdbcType="BIGINT"/>
        <result property="count" column="count" jdbcType="BIGINT"/>
    </resultMap>
    <resultMap id="customerExport" type="htof.pojo.export.CustomerExport">
        <id property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="lasttime" column="lasttime" jdbcType="VARCHAR"/>
        <result property="count" column="count" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="where">
        <trim prefix="WHERE" prefixOverrides="AND | OR ">
            <if test="phone != null and phone != ''">
                and phone like concat('%', #{phone}, '%')
            </if>
            <if test="lasttime != null and lasttime != 0">
                and lasttime >= #{lasttime}
            </if>
            <if test="userId != null and userId != 0">
                and userId = #{userId}
            </if>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="count != null and count != 0">
                and count &gt;= #{count}
            </if>
        </trim>
    </sql>
    <sql id="table">
        t_customer
    </sql>
    <insert id="saveOrUpdate" parameterType="htof.pojo.Customer">
        <selectKey keyProperty="count"  resultType="int" order="BEFORE">
            select count(*) from
            <include refid="table"/>
            where phone = #{phone} and lasttime &lt; #{lasttime}
        </selectKey>
        <if test="count > 0">
            update <include refid="table"/>
            set phone = #{phone}, name = #{name}, address = #{address},userId = #{userId},
              lasttime = #{lasttime}, count = count + 1
            where phone = #{phone}
        </if>
        <if test="count == 0">
            insert into <include refid="table"/> values(#{phone}, #{userId}, #{name}, #{address}, #{lasttime}, 1)
            ON DUPLICATE KEY update count = count + 1
        </if>
    </insert>
    <select id="selectPageList" parameterType="htof.pojo.Customer" resultMap="customer">
        SELECT * from <include refid="table"/>
        <include refid="where"/>
    </select>
    <select id="select" parameterType="htof.pojo.Customer" resultMap="customer">
        SELECT * from <include refid="table"/>
        <include refid="where"/>
    </select>
    <select id="selectExport" parameterType="htof.pojo.Customer" resultMap="customerExport">
        SELECT phone, userId, name, address,
        count, FROM_UNIXTIME(lasttime/1000, '%Y-%m-%d %H:%I:%i') lasttime
        from <include refid="table"/>
        <include refid="where"/>
    </select>

    <select id="selectFilter" parameterType="java.util.Map" resultMap="customer">
        select c.phone, c.userId, c.name, c.address, c.lasttime, sum(ov.quantity) count
        from t_customer c
        LEFT JOIN t_orderlog o on c.userId = o.userId
        LEFT JOIN t_order_vfood ov on o.orderId = ov.orderId
        <trim prefix="WHERE" prefixOverrides="AND | OR ">
            <if test="phone != null">
                and c.phone like concat('%', #{phone}, '%')
            </if>
            <if test="lasttime != null and lasttime != 0">
                and c.lasttime >= #{lasttime}
            </if>
            <if test="userId != null and userId != 0">
                and c.userId = #{userId}
            </if>
            <if test="name != null">
                and c.name like concat('%', #{name}, '%')
            </if>
            <if test="vfoodId != null and vfoodId != 0">
                and ov.vfoodId = #{vfoodId}
            </if>
        </trim>
        group by c.userId, ov.vfoodId
        <if test="count != null and count != 0">
            HAVING (sum(ov.quantity) &gt;= #{count})
        </if>
    </select>

    <select id="selectFilterExport" parameterType="java.util.Map" resultMap="customerExport">
        select c.phone, c.userId, c.name, c.address,sum(ov.quantity) count, FROM_UNIXTIME(c.lasttime/1000, '%Y-%m-%d %H:%I:%i') lasttime
        from t_customer c
        LEFT JOIN t_orderlog o on c.userId = o.userId
        LEFT JOIN t_order_vfood ov on o.orderId = ov.orderId
        <trim prefix="WHERE" prefixOverrides="AND | OR ">
            <if test="phone != null">
                and c.phone like concat('%', #{phone}, '%')
            </if>
            <if test="lasttime != null and lasttime != 0">
                and c.lasttime >= #{lasttime}
            </if>
            <if test="userId != null and userId != 0">
                and c.userId = #{userId}
            </if>
            <if test="name != null">
                and c.name like concat('%', #{name}, '%')
            </if>
            <if test="vfoodId != null and vfoodId != 0">
                and ov.vfoodId = #{vfoodId}
            </if>
        </trim>
        group by c.userId, ov.vfoodId
        <if test="count != null and count != 0">
            HAVING (sum(ov.quantity) &gt;= #{count})
        </if>
    </select>
</mapper>