<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="htof.dao.CustomerDao" >
    <resultMap id="customer" type="htof.pojo.Customer">
        <id property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="lasttime" column="lasttime" jdbcType="BIGINT"/>
        <result property="count" column="count" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="where">
        <trim prefix="WHERE" prefixOverrides="AND | OR ">
            <if test="phone != null and phone != 0">
                and phone like concat('%', ${phone}, '%')
            </if>
            <if test="userId != null and userId != 0">
                and userId = #{userId}
            </if>
            <if test="name != null and name != 0">
                and name like concat('%', ${name}, '%')
            </if>
        </trim>
    </sql>
    <insert id="saveOrUpdate" parameterType="htof.pojo.Customer">
        <selectKey keyProperty="count"  resultType="int" order="BEFORE">
            select count(*) from t_customer where phone = #{phone} and lasttime &lt; #{lasttime}
        </selectKey>
        <if test="count > 0">
            update t_customer
            set phone = #{phone}, name = #{name}, address = #{address},userId = #{userId},
              lasttime = #{lasttime}, count = count + 1
            where phone = #{phone}
        </if>
        <if test="count == 0">
            insert into t_customer values(#{phone}, #{userId}, #{name}, #{address}, #{lasttime}, 1)
            ON DUPLICATE KEY update count = count + 1
        </if>
    </insert>
    <select id="selectPageList" parameterType="htof.pojo.Customer" resultMap="customer">
        SELECT * from t_customer
        <include refid="where"/>
    </select>
</mapper>